@charset "utf-8";
/* CSS Document */
*
{
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
header
{
	background-image: url("-sri-lanka-1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul
{
	 float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	
	transition: 0.6s ease;
	
}
ul li a:hover
{
	background-color: #fff;
	color: #000;
}
.logo img
{
	margin-left: auto;
	float: left;
	width: 200px;
	height: auto;
}
.main
{
	max-width: 1300px;
	margin: auto;
	
}
.title
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1
{
	color: #000;
	font-size: 70px;
	font-family:"alex-brush";
	text-align: center;
}
.title2
{
	text-align: center;
}
.video1
{
	padding: 10px;
}
.footer 

{
	width: 1335px;
	height: 100px;
	background-color:#8E8E8E;
	margin: 10px;
	background-size: cover;
	
	
}
.footer h4
{
	
	font-size: 20px;
	font-family:"alex-brush";
	text-align:center;
	padding: 30px;
}