@charset "utf-8";
/* CSS Document */
*
{
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
header
{
	
	height: 50vh;
	background-size: cover;
	background-position: center;
	
}
ul
{
	 float: right;
	list-style-type: none;
	margin-top: 25px;
	
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	
	transition: 0.6s ease;
	
}
ul li a:hover
{
	background-color: #fff;
	color: #000;
}
.logo img
{
	margin-left: auto;
	float: left;
	width: 200px;
	height: auto;
}
.main
{
	max-width: 1300px;
	margin: auto;

}
.titleimg
{
	background-image: url("image/l'.jpg");
	height: 50vh;
	background-size: cover;
	background-position: center;
}
.title
{
    position: absolute;
    top: 144px;
    left: 676px;
    transform: translate(-50%,-50%);
    
}
.title h1
{
	color: #000;
	font-size: 70px;
	font-family:"alex-brush";
		
}
.oneperson
{
	padding: 50px;
}
.oneperson h3
{
	font-size: 30px;
	text-align: center;
}
.oneperson h5
{
	font-size: 25px;
}
.oneperson h6
{
	font-size: 20px;
}
.details 
{
padding-right: 100px;
	padding: 50px;
}
.bath h5
{
	font-size: 30px;
	padding: 20px;
	margin: 0;
}
.bath h6
{
	font-size: 10px;
}
.others h5
{
	font-size: 30px;
	padding: 20px;
}
.others h6
{
	font-size: 10px;
}
#submit1
{
	width: 200px;
	background:#FFD600;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
	color:#000000;
}



/* t2 */
.twoperson
{
	padding: 50px;
}
.twoperson h3
{
	font-size: 30px;
	text-align: center;
}
.twoperson h5
{
	font-size: 25px;
}
.twoperson h6
{
	font-size: 20px;
}
#submit2
{
	width: 200px;
	background:#FFD600;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
	color:#000000;
}

/* t3 */
.fourperson
{
	padding: 50px;
}
.fourperson h3
{
	font-size: 30px;
	text-align: center;
}
.fourperson h5
{
	font-size: 25px;
}
.fourperson h6
{
	font-size: 20px;
}
#submit3
{
	width: 200px;
	background:#FFD600;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
	color:#000000;
}
.footer 

{
	width: 1335px;
	height: 100px;
	background-color:#8E8E8E;
	margin: 10px;
	background-size: cover;
	
}
.footer h4
{
	
	font-size: 20px;
	font-family:"alex-brush";
	text-align:center;
	padding: 30px;
}